@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
font-size: 62.5%;
}

body {
font-family: "PT Serif",serif;
font-size: 1.6rem;
margin: 1em;
}

#embed-container {
background-color: black;
max-width: 55rem;
margin: 0 auto 4em auto;
width: 100%;
}

#guide {
max-width: 55rem;
margin: 0 auto 4em auto;
width: 100%;
}

@media screen and (min-width: 1150px) {

    #embed-container {
    background-color: transparent;
    left: calc(50% - 57.5rem);
    margin-bottom: 0;
    position: absolute;
    top: 1rem;
    }

    .twitter-tweet-rendered {
    margin-top: 0 !important;
    }
        
    #guide {
    max-width: 55rem;
    position: absolute;
    left: calc(50% + 2.5rem);
    top: 1rem;
    width: calc(100% - 64rem);
    }
    
}

h1 {
line-height: 1;
margin-top: 0;
}

h2 {
margin-top: 2em;
}

p {
color: #555;
line-height: 1.5;
}

p.title {
font-weight: bold;
padding-left: 3em;
}

p.utility-link {
margin-top: 1em;
padding-top: 1em;
}

p.utility-link::before {
content: "❧ ";
}

span.couplet {
display: inline-block;
padding-left: 1em;
}